body{
    background-color: bisque;
}

img{
    width: 100px;

}

h2{
    color: white:

    }








    p{
        text-align:center:
        color: red;

    }
#jalen{
background-color: blueviolet;
}

.dablocks{
background-color:brown;
font-family: 'Nunito', sans-serif;
}

#static{
 background-color:red;
 font-family: 'Saira Stencil One', cursive;
}

#relative{
    background-color: blue;
}

#Drip{
    background-color: blueviolet;
}

#Absolute{
    background-color:greenyellow
}

#Fixed{
    background-color:brown;
}